body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #111;
}

.contenedor{
    max-width: 500px;
    margin: 0 auto;
}

.fondo-calculadora{
    padding: 10px;
    background-color: #111;
}

.formula{
    font-size: 40px;
    padding: 0 10px;
    text-align: right;
    
}

.contenedor-calculadora{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.boton{
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.activo{
    background-color: #fff!important;
    color: #cf910b!important;
}

.boton-gris{
    background-color: #e7e7e7;
    color: #000;
}

.boton-naranja{
    background-color: #cf910b;
    color: #fff;
}

.boton-gris-oscuro{
    background-color: #333;
}

.cero{
    grid-column: 1 / 3;
}